

<% provide(:title, 'Create Point') %>

<h1>Create Point</h1>


<div class="row">
  <div class="span6 offset3">

    <%= @point.name %> ,
    <%= @point.type %> ,
    <%= @point.info %>,
    <%= @point.lat_dec %>,
    <%= @point.lng_dec %>
    <%= @point.created_by %> ,
    <%= @point.last_updated_by %> 

  </div>
</div>

