
<% provide(:title, 'New Point') %>

<h1>New Point</h1>


<div class="row">
  <div class="span6 offset3">

    <%#= @map.name %>, <%#= @map.file_name %>


    <%= form_for(@point) do |f| %>
      
      <%#= f.label :map_id,              "Map id" %>
      <%#= f.text_field :map_id %>


      <%= f.label :name,                  "Name" %>
      <%= f.text_field :name %>
      
      <%= f.label :point_type,              "Type" %>
      <%= f.text_field :point_type %>

      <%= f.label :point_subtype,              "Subtype" %>
      <%= f.text_field :point_subtype %>

      <%= f.label :info,                  "Info" %>
      <%= f.text_field :info %>
      
      <%= f.label :lat_dec,                  "Lat decimal" %>
      <%= f.text_field :lat_dec %>
      
      <%= f.label :lng_dec,                  "Long decimal" %>
      <%= f.text_field :lng_dec %>
      
      <%= f.label :created_by,              "Created by" %>
      <%= f.text_field :created_by %>

      <%= f.label :last_updated_by,              "Last updated by" %>
      <%= f.text_field :last_updated_by %>


      <%#= f.label :,              "" %>
      <%#= f.text_field : %>


      <%= f.label       :ad_number,              "Number" %>
      <%= f.text_field  :ad_number %>

      <%= f.label       :ad_street,              "Street" %>
      <%= f.text_field  :ad_street %>

      <%= f.label       :ad_district,            "District" %>
      <%= f.text_field  :ad_district %>

      <%= f.label       :ad_phone_1,             "Phone 1" %>
      <%= f.text_field  :ad_phone_1 %>

      <%= f.label       :ad_phone_2,             "Phone 2" %>
      <%= f.text_field  :ad_phone_2 %>

      <%= f.label       :ad_reference,           "Reference" %>
      <%= f.text_field  :ad_reference %>


      <%= f.label       :open_hours,              "Open hours" %>
      <%= f.text_field  :open_hours %>


      <%= f.label       :email,                  "Email" %>
      <%= f.text_field  :email %>

      <%= f.label       :www,              "www" %>
      <%= f.text_field  :www %>


      <%= f.label       :facebook,                "Facebook" %>
      <%= f.text_field  :facebook %>

      <%= f.label       :twitter,                 "Twitter" %>
      <%= f.text_field  :twitter %>

      <%= f.label       :comments,                "Comments" %>
      <%= f.text_field  :comments %>


      <%#= f.label       :,              "" %>
      <%#= f.text_field  : %>

      <%= f.submit "Create point", class: "btn btn-large btn-primary" %>
    <% end %>
    

  </div>
</div>



