
<!--
<li>
-->
  <%#= gravatar_for user, size: 52 %>

    <%#= link_to map.name, map %>
       
    <%#= @map.map_id %>

    <%#= map.map_type %> 

    <%#= map.created_by %>

    <%#= map.last_updated_by %>

    <%#= map.comments %>


<%# @employee.position.skills.zip(@employee.position.expected_qualifications,@employee.current_qualifications).each |skill expected_qualification current_qualification| %>
<tr>

  <td>
    <%#= map.name %>
    <%= link_to map.name, map %>
  </td>
  
  <td><%= map.id %></td>
  
  <td><%= map.map_type %></td>

  <td><%= map.created_by %></td>
  
  <td><%= map.last_updated_by %></td>
  
  <td><%= map.comments %></td>

  <td>
    | <%= link_to 'Show', {:action => :show, :id => map.id}, :method => :get %>
    <%#= new_map_path %>
    <%#= link_to "Dev",      maps_1_path  %>
   </td>


  <td>
     <%#= link_to 'Edit', {:action => :edit, :id => map.id}, :method => :put %>
  </td>


  <td>
     <%= link_to "Delete", map, method: :delete,
        data: { confirm: "You sure?" } %>
  </td>

</tr>
<%# end %>

  <%#= map.info %>



<!--
    | <%#= link_to 'Show', {:action => :show, :id => map.id}, :method => :get %>

    | <%#= link_to 'Edit', {:action => :edit, :id => map.id}, :method => :put %>

    | <%#= link_to "Delete", map, method: :delete,
        data: { confirm: "You sure?" } %>

</li>
-->