

<% provide(:title, @map.name) %>

<div>

<div class="center hero-unit">

<!--
  <h3>Places in Lima</h3>
-->




    <%#= @points.first.as_json %>

<!--
  <aside class="span4">
    <section>
      <h1>
        <%#= gravatar_for @map %>
        <%= @map.name %>
      </h1>
    </section>
  </aside>
-->



<!--
Map
-->
<%= render 'jr_draw_map' %>
</div>



<!--
Microcomments
-->
  <div class="row">

<!--
    <aside class="span4">
    <aside>
    <aside style="font-size:larger;font-style:italic;color:green;float:right;width:35%;padding-left:5px;">  
-->
    <aside style="float:right;width:35%;padding-left:5px;">  
<!--
-->
      <section>
        <%#= render 'shared/user_info' %>
        <h3>
            Feedback box
        </h3>

      </section>

      <section>
        <%= render 'shared/microcomment_form' %>
      </section>

    
<!--
      <div class="span8">
-->
      <div>
<!--
        <h3>Microcomment Feed</h3>
-->
          <%= render 'shared/feed' %>
      </div>

    </aside>


<!--
    <div>
-->
    <div class="span7">

    <% if @map.points.any? %>


      <% if @points_med.any? %>
        <h3>Meditation (<%= @points_med.count %>)</h3>
          <ol class="microposts">
            <%= render @points_med %>
          </ol>
      <% end %>

      <% if @points_res.any? %>
        <h3>Restaurants (<%= @points_res.count %>)</h3>
          <ol class="microposts">
            <%= render @points_res %>
          </ol>
      <% end %>

      <% if @points_mar.any? %>
        <h3>Markets (<%= @points_mar.count %>)</h3>
          <ol class="microposts">
            <%= render @points_mar %>
          </ol>
      <% end %>

      <% if @points_yog.any? %>
        <h3> Yoga (<%= @points_yog.count %>)</h3>
          <ol class="microposts">
            <%= render @points_yog %>
          </ol>
      <% end %>

      <% if @points_eve.any? %>
        <h3> Events (<%= @points_eve.count %>)</h3>
          <ol class="microposts">
            <%= render @points_eve %>
          </ol>
      <% end %>








      <%#= will_paginate @points %>
    <% end %>
    </div>


  </div>




<!--
List
-->

<!--
-->

</div>




