

<% provide(:title, @map.name) %>

<div>

<div class="center hero-unit">

<!--
  <h3>Places in Lima</h3>
-->




    <%#= @points.first.as_json %>

<!--
  <aside class="span4">
    <section>
      <h1>
        <%#= gravatar_for @map %>
        <%= @map.name %>
      </h1>
    </section>
  </aside>
-->



<!--
Map
-->
<%= render 'jr_draw_map' %>
</div>


<!--
-->
<aside class="span4">
 <div class="span8">


    <% if @map.points.any? %>
      

      <% if @points_m.any? %>
        <h3>Meditation (<%= @points_m.count %>)</h3>
          <ol class="microposts">
            <%#= render @points_r %>
            <%= render @points_m %>
          </ol>
      <% end %>


      <% if @points_r.any? %>
        <h3>Restaurants (<%= @points_r.count %>)</h3>
          <ol class="microposts">
            <%= render @points_r %>
            <%#= render @points_m %>
          </ol>
      <% end %>
      
      <%#= will_paginate @points %>
    <% end %>

</div>
</aside>

</div>




