
<tr>
  
  <%#= gravatar_for user, size: 52 %>

  <td>
    <%= link_to restaurant.name, restaurant %>
  </td>

  <td>
    <%= restaurant.point_type %>
  </td>
       
  <td>
    <%= restaurant.point_subtype %>
  </td>

  <td>
    <%= restaurant.info %>
  </td>

  <td>
    <%= restaurant.lat_dec %>
  </td>

  <td>
    <%= restaurant.lng_dec %>
  </td>

  <td>
    <%= restaurant.created_by %> 
  </td>

  <td>
    <%= restaurant.last_updated_by %> 
  </td>

  <td>
      <%= link_to 'Edit', {:action => :edit, :id => restaurant.id}, :method => :put %>
  </td>

  <td>
      <%= link_to "Delete", restaurant, method: :delete,
        data: { confirm: "You sure?" } %>
  </td>

</tr>
  