

<li>
  <%#= gravatar_for user, size: 52 %>

  <%#= link_to user.name, user %>
  <%= link_to restaurant.name, restaurant %>
      | 

    <%#= @restaurant.map_id %>
    <%= restaurant.point_type %>, 

    <%= restaurant.info %>,

    <%= restaurant.lat_dec %>,
    <%= restaurant.lng_dec %>,
      
    <%= restaurant.created_by %>, 
    <%= restaurant.last_updated_by %> 



  <%#= restaurant.info %>

  <%#= restaurant.lat_dec %>

  <%#= restaurant.lng_dec %>

  <%# if current_user.admin? && !current_user?(user) %>

    | 
      <%#= link_to "edit", restaurant, method: :edit %>
      <%#= link_to("Answered", restaurant_path(:restaurant, :status => true), :method => :put) %>

      <%= link_to 'Edit', {:action => :edit, :id => restaurant.id}, :method => :put %>
    | <%= link_to "Delete", restaurant, method: :delete,
        data: { confirm: "You sure?" } %>

  <%# end %>

</li>
